<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

<!--
 File:          web.xml
 Author:        Harout Grigoryan and Carrick Bartle and Khajag Basmajian
 Date Created:  03-14-16
 Purpose:       Maps URLS to servlets and jsp files; sets security constraints.
-->

    <!-- Mapping for Lighthouse servlet -->
	<servlet>
		<servlet-name>Lighthouse</servlet-name>
		<servlet-class>servlets.LighthouseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Lighthouse</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- Mapping for DailyEmails servlet -->
	<servlet>
		<servlet-name>DailyEmails</servlet-name>
		<servlet-class>servlets.DailyEmailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DailyEmails</servlet-name>
		<url-pattern>/dailyemails</url-pattern>
	</servlet-mapping>
	
	<!-- Mapping for Subscriptions servlet -->
	<servlet>
		<servlet-name>Subscriptions</servlet-name>
		<servlet-class>servlets.SubscriptionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Subscriptions</servlet-name>
		<url-pattern>/subscriptions</url-pattern>
	</servlet-mapping>
	
	<!-- Mapping for Settings servlet -->
	<servlet>
		<servlet-name>AccountSettings</servlet-name>
		<servlet-class>servlets.AccountSettingsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountSettings</servlet-name>
		<url-pattern>/accountsettings</url-pattern>
	</servlet-mapping>
	
	
    <!-- Prevents non-admin users from triggering reminder emails. -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>DailyEmails</web-resource-name>
			<url-pattern>/dailyemails</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	
<!-- 	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>servlets.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/helloworld</url-pattern>
	</servlet-mapping> -->
</web-app>
