<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Lighthouse</servlet-name>
		<servlet-class>servlets.LighthouseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Lighthouse</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>servlets.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>search</web-resource-name>
			<url-pattern>/search</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	
	<servlet>
		<servlet-name>DailyEmails</servlet-name>
		<servlet-class>servlets.DailyEmailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DailyEmails</servlet-name>
		<url-pattern>/dailyemails</url-pattern>
	</servlet-mapping>
	
<!-- 	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>servlets.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/helloworld</url-pattern>
	</servlet-mapping> -->
</web-app>
